@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.justify-content-btw {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-item-center {
  align-items: center;
}

.nav-bar {
  max-width: 1440px;
  background-color: #F9E0AE;
  padding: 10px 40px;
  max-height: 100px;
  margin-inline: auto;
}

.menu {
  display: flex;
  position: relative;
  transition: all 0.3s ease-in;
  gap: 30px;
  align-items: center;
  list-style: none;
}

.menu li {
  list-style: none;
  position: relative;
}

.menu li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
.menu li a:hover {
  color: #682C0E;
}

.contact-cta {
  padding: 5px 18px;
  background-color: #C24914;
  border-radius: 10px;
  color: #fff !important;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
.contact-cta:hover {
  background-color: #70412d;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F9E0AE;
  border-radius: 10px;
  padding: 20px;
  z-index: 100;
}

.nav-bar li:hover .sub-menu {
  display: block;
}

.sub-menu ul li a {
  display: block;
  padding: 5px;
}

.fas {
  position: absolute !important;
  color: #c7c7c7;
  font-size: 40px;
  display: none;
  right: 20px;
  top: 10px;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    background-color: rgb(80, 79, 79);
    box-shadow: 0 5px 3px 3px gray;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 100;
    padding: 0;
    display: none;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .menu li a {
    color: #fff;
  }
  .fas {
    display: block;
  }
  .nav-bar {
    align-items: start;
  }
}
.hero-content {
  max-width: 1080px;
  margin-inline: auto;
}
.hero-content .hero-content__text {
  max-width: 550px;
  gap: 34px;
}
.hero-content .hero-content__text h1 {
  font-size: 48px;
  color: #000;
  font-weight: bold;
  max-width: 400px;
}
.hero-content .hero-content__text p {
  font-size: 20px;
  color: #6C6C6C;
}
.hero-content .hero-content__text a {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 8px 26px;
  border-radius: 10px;
  background: #682C0E;
  text-decoration: none;
  max-width: 200px;
  transition: all 0.3s ease-in;
}
.hero-content .hero-content__text a:hover {
  background-color: #C24914;
}
.hero-content .hero-content__image {
  max-width: 487px;
  object-fit: cover;
}
.hero-content .hero-content__image img {
  width: 100%;
}

@media (max-width: 992px) {
  .hero-content {
    flex-direction: column;
    gap: 20px;
    padding-inline: 20px;
  }
  .hero-content__text {
    align-items: center;
    text-align: center;
  }
}
.cards-content {
  max-width: 1040px;
  margin-inline: auto;
  gap: 100px;
}

.card-one {
  gap: 40px;
}

.card-one__image {
  max-width: 480px;
}
.card-one__image img {
  width: 100%;
}

.card-one__text {
  max-width: 430px;
}
.card-one__text h2 {
  font-size: 48px;
  color: #000;
  font-weight: bold;
}
.card-one__text ul li {
  font-size: 24px;
  color: #000;
  margin-bottom: 10px;
  margin-left: 5px;
}

.card-two {
  gap: 40px;
}
.card-two h2 {
  font-size: 48px;
  color: #000;
  font-weight: 600;
  max-width: 530px;
}
.card-two .card-two__image {
  max-width: 440px;
}
.card-two .card-two__image img {
  width: 100%;
}

@media (max-width: 992px) {
  .cards-content {
    padding-inline: 30px;
  }
  .card-one {
    flex-direction: column-reverse;
    align-items: center;
  }
  .card-one h2 {
    text-align: center;
  }
  .card-one ul {
    list-style: none;
    text-align: center;
  }
  .card-one .card-one__image {
    width: 100%;
  }
  .card-two {
    flex-direction: column;
    text-align: center;
  }
  .card-two .card-two__image {
    width: 100%;
  }
}
.user-cta__form {
  max-width: 1080px;
  margin: 100px 0;
  margin-inline: auto;
  gap: 45px;
  padding: 38px 45px;
  background-color: #F9E0AE;
}
.user-cta__form input {
  padding: 17px 51px;
  background-color: #fff;
  text-align: center;
  max-width: 300px;
  border: 0;
  font-size: 20px;
  color: #6C6C6C;
  font-weight: 600;
}
.user-cta__form a {
  text-decoration: none;
  max-width: 300px;
  padding: 17px 94px;
  color: #fff;
  font-weight: 600;
  background-color: #C24914;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.user-cta__form a:hover {
  background-color: #682C0E;
}

@media (max-width: 992px) {
  .user-cta__form {
    flex-direction: column;
    max-width: 100%;
    padding-inline: 30px;
  }
}
<<<<<<< HEAD
footer nav {
  background: #F9E0AE;
  padding-block: 107px;
}
footer nav p {
  text-align: center;
  color: #6C6C6C;
}
footer nav .footer-navbar__list {
  gap: 78px;
  display: flex;
  margin-bottom: 124px;
  max-width: 1280px;
  margin-inline: auto;
}
footer nav .footer-navbar__list li {
  list-style: none;
}
footer nav .footer-navbar__list li a {
  text-decoration: none;
  color: #6C6C6C;
}
footer nav .footer-navbar__list li a:hover {
  color: #fff;
}
footer nav .footer-navbar__list li .footer-navbar__list-content {
  gap: 100px;
}
footer nav .footer-navbar__list li .footer-navbar__list-content .footer-navbar__list-content__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer nav .footer-navbar__list li .footer-navbar__list-content .footer-navbar__list-content__list .media-cta {
  gap: 10px;
}
footer nav .footer-navbar__list li .footer-navbar__list-content .footer-navbar__list-content__list .list-heading {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
footer nav .footer-navbar__list li .footer-navbar__list-content .footer-navbar__list-content__list ul {
  padding: 0;
  list-style: none;
}

@media (max-width: 992px) {
  .footer-navbar__list {
    flex-direction: column;
  }
  .footer-navbar__list-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px !important;
=======
.team-content {
  max-width: 1117px;
  margin-left: 145px;
  margin-right: 18px;
  position: relative;
}
.team-content .team-content__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 520px;
  align-items: center;
  text-align: center;
}
.team-content .team-content__text h3 {
  font-size: 48px;
  font-weight: 600;
}
.team-content .team-content__text p {
  font-size: 20px;
}
.team-content .team-content__text a {
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 12px 52px;
  border-radius: 5px;
  background: #FC8621;
  text-decoration: none;
}

.team-content__hero-image {
  max-width: 996px;
  position: absolute;
  top: 66px;
  left: 150px;
  z-index: -1;
}
.team-content__hero-image img {
  width: 100%;
}

.team-content__image {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}
.team-content__image img {
  width: 100%;
}

.team-content__imageOne {
  top: 0;
  right: 426px;
}

.team-content__imageTwo {
  right: 104px;
  top: 165px;
}

.team-content__imageThree {
  left: 15px;
  bottom: -103px;
}

.team-content__imageFour {
  left: 272px;
  bottom: -246px;
}

@media (max-width: 998px) {
  .team-content__image, .team-content__hero-image {
    display: none;
  }
  .team-content {
    margin-left: 0;
    margin-right: 0;
    margin-inline: auto;
    max-width: 100%;
    padding-inline: 40px;
>>>>>>> 5653ea7bab580a7dc34d6907569923d6f53f716c
  }
}